// colors

$green: #4B9200;
$orange: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
$orange-gradient: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%),
linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$yellow: #FFEE2E;
$pink-gradient: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$red: #D31414;
$black-blue: #333B41;
$gray: #767474;
$gray-smoky: #ABABAB;
$light-gray: #F1F3F2;
$white: rgba(253, 253, 255, 0.52);;
$black: #000000;

// viewports

$desktop-width: 1600px;
$tablet-width: 768px;
$mobile-width: 320px;

// mixins

@mixin center-wrapper {
	padding-left: 20px;
	padding-right: 20px;
	margin-right: auto;
	margin-left: auto;
	width: 1160px;
	box-sizing: border-box;

	@media (max-width: $tablet-width) {
		width: 768px;
		padding-left: 30px;
		padding-right: 30px;
	}

	@media (max-width: $mobile-width) {
		width: 320px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

ul {
	padding-left: 0;
}

li {
	list-style-type: none;
}

h2 {
	margin-top: 0;
	margin-bottom: 0;
}

button:hover {
	opacity: 80%;
}

.header {
	background-color: $black;
}

.header__wrapper {
	@include center-wrapper();
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

.header__left-wrapper {
	display: flex;
	align-items: center;
	gap: 40px;
}

.nav__list {
	display: flex;
	gap: 20px;
}

.watch-online {
	@include center-wrapper();
	background: url('/assets/images/panda.jpg');
	height: 780px;
}

.watch-online__button {
	background: $orange;
	border: none;
	border-radius: 25px;
	padding: 10px 90px;
}

.backstage {
	@include center-wrapper();
	margin-top: 100px;
	height: 605px;
	background: url('/assets/images/backstage-background.png');
	background-position: right top;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
}

.backstage__wrapper {
	margin-right: 230px;
	display: flex;
	justify-content: space-between;
}

.pets {
	@include center-wrapper();
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pets__top-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.pets__slider {
	width: 62px;
	height: 62px;
	border-radius: 50%;
	border: none;
	background: $orange;
}

.pets__list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 10px 20px;
}

.pet__title-wrapper {
	display: grid;
	grid-template-columns: auto 40px;
	grid-template-rows: 1fr 1fr;
}

.pet__title {
	grid-column: 1;
	grid-row: 1;
}

.pet__subtitle {
	grid-column: 1;
	grid-row: 2;
}

.pet__icon {
	grid-column: 2;
	grid-row: 1 / -1;
	margin-top: auto;
	margin-bottom: auto;
}

.pet__bottom {
	background: $orange;
	border: none;
	border-radius: 25px;
	padding: 10px 90px;
}