// colors

$green: #4B9200;
$orange: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
$orange-gradient: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%),
linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$yellow: #FFEE2E;
$pink-gradient: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$red: #D31414;
$black-blue: #333B41;
$gray: #767474;
$gray-smoky: #ABABAB;
$light-gray: #F1F3F2;
$white: rgba(253, 253, 255, 0.52);;
$black: #000000;

// viewports

$desktop-width: 1600px;
$tablet-width: 768px;
$mobile-width: 320px;

// mixins

@mixin center-wrapper {
	padding-left: 20px;
	padding-right: 20px;
	margin-right: auto;
	margin-left: auto;
	width: 1600px;
	box-sizing: border-box;

	@media (max-width: $tablet-width) {
		width: 768px;
		padding-left: 30px;
		padding-right: 30px;
	}

	@media (max-width: $mobile-width) {
		width: 320px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

@mixin content-wrapper {
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
}

@mixin standart-button {
	background: $orange;
	border: none;
	border-radius: 25px;
	padding: 16px 20px;
	width: 298px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	letter-spacing: 1.4px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

ul {
	padding-left: 0;
}

li {
	list-style-type: none;
}

h2 {
	margin-top: 0;
	margin-bottom: 0;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
		color: $black-blue;
	}
}

button:hover {
	opacity: 80%;
}

body {
	font-family: Roboto;
	font-size: 16px;
	line-height: 140%;
}

.header {
	background-color: $black;
}

.header__wrapper {
	@include content-wrapper();
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: 400;
	font-size: 18px;
	line-height: 140%;
}

.header__left-wrapper {
	display: flex;
	align-items: center;
	gap: 40px;
}

.nav__list {
	display: flex;
	gap: 20px;
}

.nav__link, .header__design-link {
	color: #ffffff;
}

.nav__link--active {
	color: #F9804B;
}

.watch-online {
	@include center-wrapper();
	background: url('../../assets/images/panda.jpg');
	height: 780px;
	display: flex;
	align-items: center;
}

.watch-online__wrapper {
	@include content-wrapper();
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: relative;
}

.watch-online__title {
	font-size: 106px;
	line-height: 0.8;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	width: 500px;
	color: #ffffff;
	z-index: 2;
}

.watch-online__title--accent {
	color: $yellow;
}

.watch-online__round {
	position: absolute;
	z-index: 1;
	background: $orange;
	width: 465px;
	height: 465px;
	border-radius: 50%;
	right: 10%;
	bottom: 30%;
}

.watch-online__button {
	@include standart-button();
	margin: 50px 110px 0 0;
}

.backstage {
	@include center-wrapper();
	margin-top: 100px;
	height: 605px;
	background: url('../../assets/images/backstage-background.png');
	background-position: right top;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
}

.backstage__wrapper {
	@include content-wrapper();
	margin-right: 230px;
	display: flex;
	justify-content: space-between;
	gap: 50px;
}

.pets {
	@include center-wrapper();
	padding-top: 100px;
	padding-bottom: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url('../../assets/images/palm_foto.png'), url('../../assets/images/strelitzia.png');
	background-repeat: no-repeat, no-repeat;
	background-position: bottom left, bottom right;
}

.pets__top-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.pets__slider {
	width: 62px;
	height: 62px;
	border-radius: 50%;
	border: none;
	background: $orange;
}

.pets__list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 10px 20px;
}

.pet {
	border: 1px solid #F9804B;
	border-radius: 5px;
	overflow: hidden;
	transition: all 0.4s;

	&:hover {
		transform: scale(1.1);
	}
}

.pet__title-wrapper {
	display: grid;
	grid-template-columns: auto 40px;
	grid-template-rows: 1fr 1fr;
	padding: 5px 10px;
}

.pet__title {
	grid-column: 1;
	grid-row: 1;
	margin: 0;
}

.pet__subtitle {
	grid-column: 1;
	grid-row: 2;
	margin: 0;
}

.pet__icon {
	grid-column: 2;
	grid-row: 1 / -1;
	margin-top: auto;
	margin-bottom: auto;
}

.pet__bottom {
	@include standart-button();
	margin-top: 30px;
}

.pick-and-feed {
	background: $orange-gradient;
	padding-top: 70px;
	padding-bottom: 80px;
}

.pick-and-feed__wrapper {
	@include content-wrapper();
	background: $white;
	backdrop-filter: blur(2px);
	border-radius: 20px;
	padding-top: 70px;
	padding-bottom: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.how-it-work {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.how-it-work__sceme {
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	gap: 10px;
}

.how-it-work__card {
	width: 168px;
	text-align: center;
}

.how-it-work__card-image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 168px;
	height: 168px;
	border: 1px solid #F9804B;
	border-radius: 5px;
	background-color: #ffffff;
}

.how-it-work__arrow {
	margin-top: 65px;
}

.pick-and-feed__link {
	color: #333B41;
	padding-bottom: 5px;
	border-bottom: 1px solid #F9804B;
}

.pick-and-feed__button {
	display: block;
	text-align: center;
	@include standart-button();
}

.testimonials {
	@include center-wrapper();
	margin-top: 100px;
	padding-bottom: 200px;
	background: url('../../assets/images/leav_foto.png');
	background-position: right top 150%;
	background-repeat: no-repeat;
}

.testimonials__title {
	text-align: center;
}

.testimonials__list {
	@include content-wrapper();
	margin-top: 20px;
	display: flex;
	gap: 20px;
}

.card {
	padding: 10px;
	width: 268px;
	height: 391px;
	overflow: hidden;
	background: #F1F3F2;
	border-radius: 20px;
	border: 2px solid #FEBDAB;
}

.card__author-wrapper {
	display: grid;
	grid-template-columns: 40px auto;
	grid-template-rows: auto auto;
	gap: 0 10px;
}

.card__author-photo {
	grid-column: 1;
	grid-row: 1 / -1;
	margin-top: auto;
	margin-bottom: auto;
}

.card__author-title {
	grid-column: 2;
	grid-row: 1;
	margin-top: 5px;
	margin-bottom: 0;
}

.card__author-subtitle {
	grid-column: 2;
	grid-row: 2;
	margin-top: 5px;
}

.testimonials__scroll-wrapper {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 600px;
	cursor: pointer;
}

.testimonials__scroll {
	width: 100%;
	height: 8px;
	background: #F5F7F6;
	border-radius: 5px;
	border: 1px solid #E0D8F0;
}

.testimonials__scroll-mark {
	width: 115px;
	height: 6px;
	background: #FE9013;
	border-radius: 5px;
}

.testimonials__button-wrapper {
	@include content-wrapper();
	margin-top: 40px;
}

.testimonials__button {
	@include standart-button();
	border-radius: 5px;
}

.footer {
	background-color: $black;
	padding-top: 40px;
	padding-bottom: 40px;
}

.footer-wrapper {
	@include content-wrapper()
}

.footer__top-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.subscribe__title {
	color: #ffffff;
	font-weight: 400;
	font-size: 24px;
	line-height: 120%;
}

.subscribe__input {
	border: 1px solid #FE9013;
	background-color: $black;
	padding: 10px;
	border-radius: 5px;
	width: 228px;
	margin-right: 10px;
	font-family: Roboto;
	font-size: 16px;
	line-height: 140%;
}

.subscribe__button {
	border: 1px solid $gray;
	color: $green;
	background-color: $light-gray;
	padding: 10px;
	border-radius: 5px;
	width: 129px;
	font-family: Roboto;
	font-weight: 400;
	font-size: 16px;
	line-height: 140%;
}

.footer__medium-button {
	@include standart-button();
	display: block;
	margin-top: 40px;
	margin-bottom: 40px;
	border-radius: 5px;
	text-align: center;
}

.footer__bottom-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.socials__list {
	display: flex;
	flex-direction: column;
}

.social__item {
	margin-bottom: 10px;
	color: #ffffff;
	display: flex;
	gap: 10px;
	align-items: center;
}

.social__text {
	margin-top: 3px;
	margin-bottom: auto;
}

.footer__design-text {
	color: #ffffff;
}